/*
Theme Name:     Base Child Theme
Theme URI:      http://demo.themebeans.com/base
Description:    Make your modifications to Base in this child theme.
Author:         ThemeBeans
Author URI:     http://themebeans.com
Version:        1.1
Template:       base
*/
@import url('../base/style.css');

/*-------
--- BREAKPOINTS
--------*/

@media only screen and (max-width: 867px){
.review-page.eight, .row .eight{
	width:100% !important;
	order:0;
}
.review-page.four, .row .four {
	width:100% !important;
	padding: 0;
	clear:both;
	margin:0 auto;
}

.main-review-page{
	display:flex;
	flex-flow:column;
}

.main-review-page .review-one{
	order: 1;
	-webkit-order: 1;
}

.main-review-page .review-two{
	order: 2;
	-webkit-order: 2;
}

.line-title-custom h2{
	font-size:30px !important;

}
.floating-bar .box-nav, .floating-bar .divider, .floating-bar.waypoint .divider{
	display:none;
}

.tested-link{
	display:none;
}
.footer-btm{
	position: fixed;
}

.elementor-test-table{
	display:none;
}

.rating-two{
	width:49%;
	float:right;
}

.rating-one{
	width:49%;
	float:left;
}

.floating-bar .divider{
	display:none;
}

.floating-bar{
	position:relative !important;
	top: 0 !important;
    max-width: 862px !important;
    width:100%;
    margin-left: -10px;
}

.floating-bar.waypoint{
	position:relative;
	top: 0 !important;
    max-width: 867px !important;
    width:100%;
}
.rating-thr{
	display:none;
}

.floating-bar .logo img{
	max-height:30px;
}
}


/*-------
--- LIGHTBOX
--------*/
.custom-lightbox{
	display: none;
	position: fixed!important;
	z-index: 999;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
 	text-align:center;
}

.custom-lightbox .imgholder{
	
	max-width: 60%;
    max-height: 60%;
	
	position:absolute;
	margin:auto;
	top: 0; left: 0; bottom: 0; right: 0;
}

.custom-lightbox .imgholder img{
	max-height: 500px;
	border:4px solid #222;
}

.slick-slide-image{
	height:150px !important;
}

.slick-slide, .slick-slide-active{
	height:150px;
}


/*-------
--- HEADER
--------*/

#header-container{
	transition:all 1s;
	height:130px;
}
#header-container.waypoint{
	
}

#header-container .logo{
	padding-top: 8px;
}

.bgblue-page .logo img{
	padding-top:24px;
	width:270px;
	max-width:270px !important
}

.main_menu.home-page .main-menu a{
	color:#fff !important;
	font-weight:600;
	text-transform: uppercase;
	letter-spacing:1px;
	font-family: "Lato" sans-serif;
	font-size:14px;
}
.main_menu.home-page .main-menu{
	padding-top:12px;
}


#header-container{
	padding:20px 0 0 0;
}

.header-navigation .nine{
	padding-top: 20px;
}

#header-container.waypoint .header-navigation .nine{
	
}

.wider .row{

	max-width:1080px !important;
	margin:0 auto;
}
/*-------
--- MAIN CONTAINER
--------*/
#main-container{
	padding-bottom: 0 !important;
}
#main-container .row{
	max-width:1080px !important;
	margin:0 auto;
}


/*-------
--- COMPARISON TABLE
--------*/

.comparison-table{
  border-collapse:collapse;
}
.comparison-table .empty-cell{
  border:none;
  background:none;
}
.comparison-table td,
.comparison-table th{
  padding:10px 15px;
  border:1px solid #e9e9e9;
  min-width:80px;
  max-width:100px;
  text-align:center;
  font-family: "Lato", sans-serif;
}

.comparison-table th{
	padding:0px !important;
	height:180px;
	max-width:90px !important;
	min-width:80px !important;
}

.comparison-table th div{
	transform:rotate(-90deg);
}
.comparison-table .comparison-table-section-header td{
  font-weight:500;
  font-size:12px;
  padding-top:20px;
  color:#222;
  text-transform:uppercase;
  background:#f9f9f9;
  letter-spacing:1px;
}
.comparison-table .comparison-table-desc{
  display:block;
  font-size:11px;
  color:#aaa;
  max-height:0;
  overflow:hidden;
  margin:0;
}
.comparison-table tr:hover .comparison-table-desc{
  max-height:100px;
  color:#eee;
  padding-top:8px;
  transition:max-height .3s ease-in;
}

.comparison-table .price{
	font-size:30px;
	font-weight:900;
	color:#222;
}

.comparison-table td{
	 padding:20px 15px 10px 15px !important;
	 max-width:90px !important;
	 min-width:80px !important;
}


.comparison-table th{
  background:#f9f9f9;
  font-weight:500;
  text-transform:uppercase;
  color:#666;
  padding-top:20px;
  padding-bottom:20px;
  font-size:13px;
  letter-spacing: 1px;
  line-height: 15px;
}
.comparison-table .comparison-table-pro{
  background:#1da0f1;
  color:white;
  border-color:#1da0f1;
}
.comparison-table td:first-child{
  text-align:left;
  font-weight:600;
  font-size:14px;
  max-width:150px !important;
  min-width:90px !important;
}

.recommended td:first-child{
	padding-top: 25px !important;
	font-size:20px !important;
}
.comparison-table .fa-check{
  color:#7ab55c;
  font-size:30px;
  margin-top:-3px;
}
.comparison-table .fa-times{
  color:#b55c68;
  font-size:30px;
  margin-top:-3px;
}
.comparison-table .recommended .fa-times{
	color:#fff;
	font-size:40px;
	margin-top:-6px;
}

.comparison-table .recommended .fa-check{
	color:#fff;
	font-size:40px;
	margin-top:-6px;
}

.comparison-table .recommended .price{
	font-size:40px;
	margin-top: 5px;
	color:#fff;
}

.comparison-table tr.comparison-table-row.recommended{
	padding: 30px 0;
	background:#1da0f1;
	color:#fff !important;
	border:20px solid #1da0f1;
	
}

.comparison-table tr.comparison-table-row.recommended td{
	color:#fff !important;
	border:1px solid #167fb7;
}

.comparison-table tr.comparison-table-row:hover, .comparison-table tr.comparison-table-row.recommended:hover{
  background:#167fb7;
}
.comparison-table tr.comparison-table-row.recommended:hover{
	border-color: #167fb7;
}
.comparison-table tr.comparison-table-row:hover td{
  border-color:#1da0f1;
}
.comparison-table tr.comparison-table-row:hover td,
.comparison-table tr.comparison-table-row:hover td .fa{
  color:#fff;
}



.text-center{
	text-align: center;
}

.text-right{
	text-align: right;
}


@media screen and (max-width: 768px) {
  .comparison-table tr {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  .comparison-table td, .comparison-table th {
    display: block;
    width: 33%;
  }

  .comparison-table th:first-child,
  .comparison-table td:first-child {
    text-align: center;
    background: #efefef;
    width: 100%;
  }

  .comparison-table th:first-child {
    display: none;
  }

  .affiliate-table {
  	max-width:320px;
  	text-align: center;
  }

  .affiliate-table tr {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }

  .affiliate-table .corner-number{
  	display:none;
  }
  .affiliate-table .corner{
  	background:none !important;
  }

    .affiliate-table .corner img{
    	margin:0 auto;
    }

  .affiliate-table td, .affiliate-table th {
    display: block;
    width: 100%;
    border:0 !important;
    text-align: center;
  }

  .affiliate-table th:first-child,
  .affiliate-table td:first-child {
    text-align: center;
    background: #efefef;
    width: 100%;
  }

  .affiliate-table th:first-child {
    display: none;
  }
}

/*-------
--- SPECIFIC COLOURS
--------*/

.bgblue-page{
	background:#1da0f1 !important;
}

.bgdblue-page{
	background:#144b68 !important;
}

.bgwhite-page{
	background:#ffffff;
}

.bgblack-page{
	background:#000000;
}

.white-page{
	color:#fff !important;
}

.white-page p, .white-page strong{
	color:#fff !important;
	font-family: "Lato", sans-serif;
}


/*-------
--- FLOATING BAR
--------*/

.sidebar.review-page{
	max-width: 320px;
    float: right;
}

.floating-bar{
	transition:0.2s all;
	margin-top:0;
	text-align:center;
	width: 100%;
	top:40px;

}
.floating-bar .box-cta{
	background:#F4F7FA;
	border-radius:6px;
	padding:10px;
	width:100%;
	transition:1s all;
	
	
}

.floating-bar .box-nav{
	margin-top: 30px;
    border-radius: 6px;
    border: 1px solid #e5e5e5;
    padding: 20px;
    transition:1s all;
}

.floating-bar .box-nav ul li{
	list-style:none;
	display:block;
	transition:all 1s;
    text-align:left;
    cursor:pointer;
}

.floating-bar .box-nav ul li.active{
	color:#ff734a;
}

.floating-bar .box-nav ul li.active:before{
	content:'\f054';
	font-family: "fontawesome";
	color:#ff734a;
	padding-right: 7px;
	font-size:18px;
	margin-left:-20px;
}

.floating-bar .box-nav ul li:first-child{
	border-top:none;
}

.floating-bar.waypoint {
	top:10px;
	max-width:320px;
}

.floating-bar .logo{
	max-height:70px;
	text-align:center;
}

.floating-bar .logo img{
	margin:0 auto;
	float:none;
}

.floating-bar.waypoint .logo{
	max-height:40px;
}


.floating-bar .rating-form{
	display:none;
	background:#2386b0 url('assets/img/shadow-top.png') center top;
	width:105%;
	margin-left:-2.5%;
	padding:0 20px;
}

.floating-bar .rating-form .rwp-ratings-form-label{
	color:#2d2d2d!important;
	padding-top:20px;
}
.rwp-stars2{
	float:right;
	margin-top: 4px;
	margin-bottom:0px !important;
}
.rwp-lab{
	color:#2d2d2d !important;
	font-weight:400;
	letter-spacing:1px;
}

.rwp-review-wrap .rwp-review .rwp-ratings-form .rwp-rating-form-content input[type=button]{
	border-radius:2px;
	background:#2386b0 !important;
	color:#fff;
	font-weight:600;
	font-family: 'Lato', sans-serif;
	letter-spacing:1px;
	width:100%;
	margin-bottom:20px;
}

.rwp-rating-stars-count{
	display:none;
}
.rwp-review-wrap .rwp-review .rwp-ratings-form .rwp-rating-form-content{
	background:#eaeaea url('assets/img/shadow-top.png') center top;
	padding:20px;
}
.rwp-review-wrap .rwp-review .rwp-ratings-form .rwp-rating-form-content .rwp-scores-sliders li{
	width:100%;
	border-top:1px dotted #4db0da;
	padding-bottom:0px !important;
}
.rwp-review-wrap .rwp-review .rwp-ratings-form .rwp-rating-form-content .rwp-scores-sliders li:first-child{
	border:none;
}
.rwp-review-wrap .rwp-review .rwp-ratings-form .rwp-rating-form-content .rwp-scores-sliders li .rwp-lab{
	float:left;
}
.rwp-u-review__content{
	margin-left:0px;
	font-family:"Lato", sans-serif;
	letter-spacing:0.5px;
	font-size:15px;
	background:#F4F7FA;
	padding:20px;
	margin-bottom:10px;
}
.rwp-users-reviews-toolbar{
	display:none !important;
}
.rwp-people-label{
	display:none !important;
}

.floating-bar .rating-one{
	height:auto;
}

.floating-bar .rating-two{
	height:auto;
}

.floating-bar .rating-thr{
	height:auto;
}
.rwp-u-review__scores{
	display: -webkit-flex;
    display: flex;
}

.rwp-review-criterion{
	width:100%;
}
.rwp-review-criterion__labels{
	font-family:"Lato", sans-serif;
	font-size:18px !important;
	text-align:center;
}

.rwp-rating-stars{
	margin:0 auto;
	margin-bottom:20px;
}


.btn.half-left{
	width:49%;
	float:left;
}
.btn.half-right{
	width:49%;
	float:right;
}
.btn{
	cursor:pointer;
}

.rating-thr.waypoint{
	height:0;
	opacity:0;
}

.rating-two.waypoint{
	width:49%;
	float:right;
}

.rating-one.waypoint{
	width:49%;
	float:left;
}

.floating-bar .stars{
	width:auto;
	margin:0 auto;
}

.floating-bar .icon-star.yellow{
	color:#f0a900;

}
.icon-star.yellow{
	color:#f0a900;

}

.floating-bar p{
	font-size:14px;
}

.floating-bar .divider{
	height: 1px;
    border-top: 1px solid #dadee2;
    border-bottom: 1px solid #f5f5f5;
    width: 80%;
    margin: 0 auto;
}

.floating-bar .bean-btn{
	width:60%;
	margin:0 auto;
	margin-top:10px;
	padding:15px 10px !important;
	font-size:18px !important;
}

/*-------
--- ELEMENTOR SPECIFIC
--------*/


.line-title-custom{
	margin-left:-30px;
	padding-left:0;
	
	height: 45px;
}

.elementor-icon-box-content .bean-btn{
	font-family: "Lato", sans-serif;
	font-size:20px;
	color:#fff;
	letter-spacing:1px;
	padding:10px;
	margin-top:10px;
	margin:0 auto;
	border-radius: 5px;
	border:0;
}

.elementor-column-gap-extended>.elementor-row>.elementor-column>.elementor-element-populated{
	padding:0 !important;
}


.elementor-icon-box-content .bean-btn.bgblue{
	background:#5DB2F0 !important;
}

.elementor-icon-box-content .bean-btn.bggreen{
	background:#38C994;
}

.elementor-icon-box-content .bean-btn.bgred{
	background:#FC5355;
}

.elementor-text-editor p {
	font-size:18px !important;
	line-height:25px;
	color:#2E3236;
}

.elementor-text-editor ul li {
	font-size:18px !important;
	line-height:25px;
	color:#2E3236;
}

.elementor-text-editor h4{
	font-size:18px;
	color:#1da0f1;
	font-weight:500;
	letter-spacing:1px;
	margin-bottom:10px;
}
.elementor-text-editor h6{
	font-size:20px;
	line-height:30px;
	font-weight:300;
	color:#2E3236;
	text-align:left;
	font-family: "Lato", sans-serif;
}

.elementor-tab-content p{
	font: 300 16px/28px "Lato", Arial, Helvetica, Geneva, sans-serif !important;
	line-height:25px;
	color:#2E3236;
}

.elementor-test-table p{
	font: 300 16px/28px "Lato", Arial, Helvetica, Geneva, sans-serif !important;
	line-height:25px;
	color:#2E3236;
}

.elementor-widget-toggle p{
	font: 300 20px/28px "Lato", Arial, Helvetica, Geneva, sans-serif !important;
	line-height:25px;
	color:#fff;
	margin-left:27px;
}

.elementor-test-table{
	font: 300 16px/28px "Lato", Arial, Helvetica, Geneva, sans-serif !important;
	line-height:25px;
	color:#2E3236;
}

.elementor-test-table .toggle-test hr, .elementor-test-table .toggle-test h5, .elementor-test-table .toggle-test h4, .elementor-test-table .toggle-test h3, .elementor-test-table .toggle-test h2, .elementor-test-table .toggle-test h1, .elementor-test-table .toggle-test p{
	margin-top:10px;
	margin-bottom:10px !important;

}

.elementor-test-table .toggle-test td{
	font: 300 16px/28px "Lato", Arial, Helvetica, Geneva, sans-serif !important;
	line-height:30px;
	color:#2E3236;
}

.toggle-test p{
	font-weight:300 !important;
	margin-bottom:10px !important;
}

.toggle-test h3{
	color:#1da0f1 !important;
	margin-top:25px !important;
}



a{
	text-decoration:none !important;
	border-bottom:0 !important;
}

.elementor-container a{
	font-weight:900 !important;
	color:#1da0f1 !important;
}

.white-page a{
	
	color:#fff !important;
}
span a{
	font-weight:900 !important;
}

a span{
	font-weight:900 !important;
}

p span{
	font-weight:300 !important;
}

li span{
	font-weight:300 !important;
}

.toggle-test img{
	margin-top:20px;
	margin-bottom:20px;
}

.toggle-test hr{
	margin-top:20px !important;
	margin-bottom:20px !important;
}

.short-sweet p{
	font-size:20px !important;
	line-height:30px;

}
p{
	font: 300 16px/28px "Lato", Arial, Helvetica, Geneva, sans-serif !important;

}

ul li{
	font: 300 16px/28px "Lato", Arial, Helvetica, Geneva, sans-serif !important;

}

.rwp-review-criterion__label, .rwp-review-criterion__score {
font: 300 16px/28px "Lato", Arial, Helvetica, Geneva, sans-serif !important;
}

.image-transparency img{
	opacity:0.5;
	transition: all 1s;
	cursory:pointer;
}

.image-transparency img:hover{
	opacity: 1;
}


.footer-btm{
	padding:10px 0 !important;
}

.pad-bottom{
	padding-bottom:150px;
}

.elementor-tab-content ul li{
	font-size:18px !important;
	line-height:25px;
	color:#2E3236;
}

.elementor-tab-content h4{
	font-size:18px;
	color:#1da0f1;
	font-weight:500;
	letter-spacing:1px;
	margin-bottom:10px;
}




.review-xsmaller-paragraph {
	font-size:14px !important;
	line-height:18px;
	color:#2E3236;
}

.review-title-large  h1{
	font-family: 'Lato', sans-serif !important;
    letter-spacing: 1px;
}

.divider-bottom{
	border-bottom:1px solid #eaeaea;
	padding-bottom:40px;
	width:100%;

}

.divider-bottom-white:after{
	content: '';
    height: 5px;
    display:block;
    margin-top: 10px;
    background: #fff;
    width: 60%;
    clear: both;

}

.divider-bottom-white-center:after{
	content: '';
    height: 5px;
    display:block;
    margin-top: 10px;
    background: #fff;
    width: 60%;
    clear: both;
    margin:0 auto;

}

.divider-bottom-blue:after{
	content: '';
    height: 5px;
    display:block;
    margin-top: 10px;
    background: #5DB2F0;
    width: 60%;
    clear: both;

}

.show-more{
	display:none;
}

.show-section-border{
	border-right:1px solid #eaeaea;
}

.show-open.rotate{
	-ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg); 
    transform: rotate(180deg);
}

.show-open{
	cursor:pointer;
	transition:1s all;
}
.about-link{
	
    padding-left: -20px !important;
}


.overview-link{
	padding-left: -20px !important;
}


.tested-link{
	padding-left: -20px !important;
}

.conclusion-link{
	padding-left: -20px !important;
}


.faq-link{
	padding-left: -20px !important;
}


.policies-link{
	padding-left: -20px !important;
}

.support-link{
	padding-left: -20px !important;
}

.reviews-link{
	padding-left: -20px !important;
}

.elementor-test-table{
	cursor:pointer;
	border:1px solid #f5f5f5;
	

}
.elementor-test-table th{
	background-color: #6ec1e4;
	font-family:"Lato", sans-serif;

}

.elementor-test-table {
	font-family:"Lato", sans-serif;
}
.elementor-test-table h4{
	color:#fff;
}

.toggle-test{
	display:none;
	transition:1s all;
	padding:20px;
	margin-top:-20px;
}

.elementor-test-table .toggle-test.height{
	position: absolute !important;
    top: -9999px !important;
    left: -9999px !important;
}
.elementor-test-table .toggle-test.clicked{
	min-height:200px;
}
.elementor-test-table .smaller{
	font-size:12px;
}

.elementor-toggle .elementor-toggle-title .elementor-toggle-icon {
    display: block !important;
    float: left !important;
    width: 1em !important;
    height:30px !important;
}

.elementor-button-link{
	color:#fff !important;
}

/*-------
--- Home Nav
--------*/
.home-nav ul.sub-menu{
	background:#305468 !important;
	border-color:#305468;
	border-radius:0;
}

.home-nav ul.sub-menu  ul.sub-menu{
	background:#144b68!important;
	border-color:#144b68 !important;
	border-radius:0;
	margin-left:10px;
	max-width:320px;
	min-width: 280px !important;
}
.home-nav ul.sub-menu ul.sub-menu:before{
 	content:'';
	border-top:10px transparent solid !important;
	border-bottom:10px transparent solid !important;
	border-right:10px solid #144b68 !important;
	margin-top:10px;
	position:absolute;
	margin-left:-20px;
}


.home-nav ul.sub-menu:before{
	content:'';
	border-left:10px transparent solid;
	border-right:10px transparent solid;
	border-bottom:10px solid #305468;
	margin-top:-10px;
	position:absolute;
	margin-left:10px;
}

.home-nav ul.sub-menu  ul.sub-menu li{
	background:#144b68!important;
	font-size:12px !important;
	max-width:300px !important;
	white-space: pre-wrap;
}

.home-nav ul.sub-menu  ul.sub-menu li a{
	background:#144b68!important;
	font-size:12px !important;
	max-width:300px !important;
}

.home-nav ul.sub-menu li a:hover, .home-nav ul.sub-menu  ul.sub-menu li a:hover{
	color:#1da0f1 !important;
}



.home-nav ul.sub-menu li, .home-nav ul.sub-menu li a{
	background:#305468 !important;
}

.sub-navigation{
	background:#144b68;
}

.sub-row{
	max-width:100% !important;
}

.sub-navigation {
	display: table;
	width:100%;
	margin:0 auto;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;

	align-items: center;
}

.sub-navigation div{
	display:table-cell;
	vertical-align:middle;
	font-family: "Lato", sans-serif;
	color:#fff;
	font-size:14px;
	line-height: 20px;
	font-weight:900;
	padding:10px 15px;
	text-align:center;
	white-space: pre-wrap;
	
}
.sub-navigation div a{
	color:#fff;
	transition:1s all;
	
}
.sub-navigation div a:hover{
	color:#1da0f1;

}

.sub-navigation div.active a{
	color:#1da0f1 !important;
}

/*-------
--- BASE BLOG
--------*/

#base-blog-single h2{
	color:#1da0f1 !important;
	font-size:30px;
	margin-bottom:10px;
	font-weight:600;
	font-family: "Lato", sans-serif;
	margin-top:20px;
}
#base-blog-single h3{
	color:#1da0f1 !important;
	font-size:20px;
	margin-bottom:10px;
	margin-top:10px;
	font-weight:400;
	font-family: "Lato", sans-serif;
	margin-top:20px;
}
#base-blog-single p{
	margin-bottom:15px;
}
#base-blog{
	margin-bottom:30px;
	padding-bottom:20px;
	border-bottom:1px solid #ccc;
	clear:both;
}

#base-blog h2{
	color:#1da0f1 !important;
	font-size:30px;
	margin-bottom:10px;
	font-weight:600;
	font-family: "Lato", sans-serif;
}
#base-blog h3{
	color:#1da0f1 !important;
	font-size:20px;
	margin-bottom:10px;
	margin-top:10px;
	font-weight:400;
	font-family: "Lato", sans-serif;
}

#base-blog .imageholder{
	width:33%;
	float:left;
	min-height:200px;
	height:100%;
}

#base-blog img{
	width:100%;
	margin-bottom:10px;
}

#base-blog .blog-content{
	position:relative;
	clear:both;
	margin-top:10px;
}

aside.blog-post{
	border-left:1px solid #eaeaea;
	padding-left:15px;
}

aside.blog-post .widget-title{
	color:#1da0f1 !important;
	font-size:20px;
	margin-bottom:10px;
	margin-top:10px;
	font-weight:400;
	font-family: "Lato", sans-serif;
	padding-bottom:10px;
	border-bottom:3px solid #1da0f1;
}


aside.blog-post .tagcloud a{
	background:none !important;
	border:0 !important;
	color:#1da0f1 !important;
	font-size:15px !important;
	font-weight:400;
	box-shadow: none !important;
	font-family: "Lato", sans-serif;
	float:left;
}

aside.blog-post .tagcloud a:nth-child(2n){
	font-size:18px !important;
	line-height:22px !important;
}

aside.blog-post .tagcloud a:nth-child(4n){
	font-size:20px !important;
	line-height:25px !important;
}

#base-blog h2 a, #base-blog h3 a{
	color:#1da0f1 !important;
}

#base-blog .social-line{
	border-top:1px solid #f5f5f5;
	border-bottom:1px solid #f5f5f5;
	padding-top:5px;
	padding-bottom:5px;
	color:#666;
	font-family: "Lato", sans-serif;
	font-size:14px;
}

#base-blog .social-line .social-list{
	display:inline-block;
	padding:0 15px;
	border-right:1px solid #eaeaea;
}

#base-blog .social-line .social-list:first-child{
	padding:0 15px 0 0;
}

#base-blog .social-line .social-list:last-child{
	border-right:0;
}
#base-blog .social-line .social-list i{
	margin-right:10px;
}



.navigation.base-blog{
	text-align: right;
}



/*-------
--- GUIDE PAGES
--------*/

.guide-page h2{
	color:#1da0f1;
	font-size:30px;
	margin-bottom:10px;
	font-weight:600;
	font-family: "Lato", sans-serif;
}
.guide-page h3{
	color:#1da0f1;
	font-size:20px;
	margin-bottom:10px;
	margin-top:10px;
	font-weight:400;
	font-family: "Lato", sans-serif;
}

.fixit .elementor-widget-container h2{

	margin-top:100px;
}

.fixit .elementor-widget-container h2 i{
	font-size:30px;
}

.scrolltwo{
	display:block;
}

.parts-button.active{
	position:fixed;
	top:100px;
	left:-10px !important;
	max-width:120px !important;
	z-index: 99999999999999999999999999999;

}

.parts-button.active .elementor-column, .parts-button.active .elementor-container , .parts-button.active .elementor-row{
	display:block!important;
}

.parts-button.active .elementor-widget-button .elementor-button:before{
	content:'';
	border-top:6px solid #fff;
	border-left:6px solid transparent;
	border-right:6px solid transparent;
	position:absolute;
	margin-top:5px;
	margin-left:-20px;
}

.parts-button.active .elementor-widget-button .elementor-button{
	background:#0a3a54 !important;
	border:0 !important;
	border-radius:0 !important;
	width:150px;
	margin-top:-10px;
	position:relative;
	font-size:11px !important;
	text-align: left !important;
	cursor: pointer;
	border-right:0;
	transition:all 1s;
	transform:all 1s;
	text-indent: 0;
}

.parts-button.active .elementor-widget-button .elementor-button:hover{
	background:#44b3e2 !important;
	font-weight:900;
	border-right:5px solid #0a3a54 !important;

}




/*-------
--- Mouse Scroll
--------*/


@-webkit-keyframes scroll-inner {
    from {margin-top: 15%;}
    to {margin-top: 50%;}
}
@keyframes scroll-inner {
    from {margin-top: 15%;}
    to {margin-top: 50%;}
}
@-webkit-keyframes scroll-mouse {
    from {margin-top: 0;}
    to {margin-top: 15px;}
}
@keyframes scroll-mouse {
    from {margin-top: 0;}
    to {margin-top: 15px;}
}

div.mouse-container{
  position:relative;
  display:block;
  /*border:solid 1px red;*/
  height:100px;
}
div.mouse{
  position:relative;
  margin:0 auto;
  display:block;
  width:50px;
  height:80px;
  border: solid 2px #fff;
  border-radius: 25px;
  -webkit-animation: scroll-mouse 1.5s; 
  animation: scroll-mouse 1.5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
 }
  div.mouse span.scroll-down{
    display:block;
    width:10px;
    height:10px;
    background:#fff;
    border-radius:50%;
    margin:15% auto auto auto;
    
    -webkit-animation: scroll-inner 1.5s; 
    animation: scroll-inner 1.5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function:ease;
    animation-timing-function:ease
      
}