/*---------------------------------------------------------------------
 
	Theme Name:     Base
	Theme URI:      http://www.demo.themebeans.com/base
	Style:          2 - SuperClean
	                 
 ---------------------------------------------------------------------*/ 

/* HEADER */ 
#header-container {
 	background-color: #F4F7FA;
 	border-top: 15px solid #32353A;
 	}
 
#header-container input[type="text"] {
	background:#FFF;       
	}
	
#header-container input[type="text"],
#header-container input[type="text"]:focus, 
#header-container input[type="text"]:hover {
	-webkit-box-shadow: none!important;
	   -moz-box-shadow: none!important;
	        box-shadow: none!important; 
	} 

.drop-in-header,
body.search-no-results {
	background-color: #F4F7FA;	
	}

.logo_text,
.main-menu a, 
#page-header h1,
#header-container p a {
	color: #32353A;
	} 
	
	
/* NAVIGATION */ 
.main-menu a:hover {
	color: #9EA4AC;
	} 
	
.main-menu .sub-menu {
	background-color: #E3E8EC;
	border-color: #E3E8EC;
	-webkit-box-shadow: none!important;
	   -moz-box-shadow: none!important;
	        box-shadow: none!important;
	}	
	
.main-menu .sub-menu li {
	background-color: #FFF;
	}
	
.main-menu .sub-menu li a,
.main-menu .sub-menu li a:hover,
.main-menu .sub-menu li:hover {
	color: #2E3236!important;
	background-color: #FFF;
	}
		
		
/* HOME FEATURED AREAS */
.home-widgets-featured {
	background-color: #32353A;
	border: none;
	}

.home-widgets-featured.no-footer {
	background-color: #F4F7FA;
	}
	
.home-widgets-featured {
	border-bottom: 15px solid #F4F7FA;
	}

.footer-btm {
	background-color: #32353A;
    text-align: center;
    color: white;
	}
	
	
	
/*--------------------------------------------------------------------*/
/*	ACCENT COLOR - #FF5353
/*--------------------------------------------------------------------*/ 
code,
a:hover,
p a:hover,
blockquote p,
div.bean-note a,
#footer a:hover,	
.format-link p a,	
.archives-list ul,
.modal .close:hover,
.logged-in-as span a,
.comment-author a:hover,
.entry-content p a:hover,
.entry-header h1 a:hover,
.entry-header h2 a:hover,
.entry-header h3 a:hover,		
#header-container p a:hover,
.format-quote .entry-header h2 a, 
.drop-in-header .widget_text a:hover,	
.footer-btm .footer-navigation a:hover,
.radium-tabs ul.radium-nav li a:focus { 
	color: #FFD248; 
	}

.widget_nav_menu .current_page_item  a {
	color:#FFD248!important; 
	}

.btn, 
.button, 
.new-tag,
.short-btn,
#toTop:hover,
.bean-quote,
span.number,
#toTop:hover,
.feature-icon,
div.jp-play-bar,
button.button:hover, 
.btn[type="submit"],
.button[type="submit"],
input[type="button"], 
input[type="reset"], 
input[type="submit"],
div.jp-volume-bar-value,	
.featurearea_icon .icon ,
.entry-content a.more-link,
.entry-content a.more-link,	
.bean-announcement.flatty,
.flex-direction-nav a:hover,
.error404 .btn,
#header-container .searchform .button[type="submit"],
.flex-control-paging li a.flex-active { 
	background-color: #FFD248; 
	} 

.main-menu > .current_page_item > a {
	border-color: #FFD248;
	}